.info {
    color: rgb(235, 23, 23);
}
footer p {
    color: rgb(173, 255, 47);
}
body {
    background-color: gray;
}
.aside {
    float: left;
    margin: 10px;
    padding: 10px;
    bottom: unset;
    background-color: burlywood;
}
#spis {
    float: left;  
}
.main-content {
    background-image: url(101.jpg);
}