.grid {
    display: grid;
    grid-template-columns: max-content 7fr;
    grid-template-rows: 1fr 5fr 1fr;
}

.header {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background: rgb(7, 150, 155);
    padding: 20px;
 
}
.footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background: rgb(78, 128, 5);
    place-content: stretch;
}
    a { display: block;
        color: rgb(230, 245, 22);

    }
    

.menu {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: rgb(22, 22, 22);
    color: white;
    grid-template-columns: minmax(max-content);
    grid-template-rows: minmax(max-content);
}
    
.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: rgb(167, 166, 168);
}